<template>
    <v-app id="login" class="primary">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4 lg4>
                        <v-card class="elevation-1 pa-3">
                            <v-card-text>
                                <div class="layout column align-center">
                                    <img src="/static/m.png" :alt="appNameDisplay" width="120" height="120">
                                    <h1 class="flex my-4 primary--text">Aktywacja konta</h1>
                                </div>
                                <div>Potwierdzasz że podany podczas rejestracji e-mail należy rzeczywiście do Ciebie.
                                    Twoje konto zostanie aktywowane.</div>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn block color="success" @click="confirm" :loading="loading">Aktywacja</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import Vue from 'vue'

    export default {
        data: () => ({
            appNameDisplay: process.env.VUE_APP_NAME_DISPLAY,
        }),
        computed: {
            loading: function () {
                return this.$store.getters.authStatus === 'loading'
            },
        },
        methods: {
            confirm() {
                const confirmation = this.$route.query.confirmation;
                this.$store.dispatch('confirm', {confirmation});
            }
        },
    };
</script>
<style scoped lang="css">
    #login {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 0;
    }
</style>
