<template>
    <v-app id="register" class="primary">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4 lg4>
                        <v-card class="elevation-1 pa-3">
                            <v-card-text>
                                <div class="layout column align-center">
                                    <img src="/static/m.png" :alt="appNameDisplay" width="120" height="120">
                                    <h1 class="flex my-4 primary--text">Przywróć hasło</h1>
                                </div>
                                <v-form>
                                    <v-text-field v-validate="'required|email'"
                                                  :error-messages="errors.collect('email')"
                                                  data-vv-name="email"
                                                  append-icon="alternate_email"
                                                  name="email"
                                                  label="E-mail" placeholder="E-mail" type="text"
                                                  v-model="credentials.email" required></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn block color="primary" @click="forgotten" :loading="loading">
                                    Przywróć hasło
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import Vue from 'vue'
    import VeeValidate from 'vee-validate';
    import pl from 'vee-validate/dist/locale/pl';

    Vue.use(VeeValidate);
    export default {
        $_veeValidate: {
            validator: 'new'
        },
        data: () => ({
            appNameDisplay: process.env.VUE_APP_NAME_DISPLAY,
            credentials: {
                email: '',
            },
            dictionary: {
                pl: {
                    attributes: {
                        email: 'e-mail',
                    }
                }
            }
        }),
        mounted() {
            this.$validator.localize('pl', pl);
            this.$validator.localize(this.dictionary);
        },
        computed: {
            loading: function () {
                return this.$store.getters.authStatus === 'loading'
            },
        },
        methods: {
            forgotten() {
                this.$validator.validateAll().then(isValid => {
                    if (isValid) {
                        let email = this.credentials.email;
                        let url = `${window.location.origin}/${this.$router.resolve({name: 'account/reset'}).href}`;
                        this.$store.dispatch('forgotten', {email, url});
                    }
                });

            }
        },
    };
</script>
<style scoped lang="css">
    #register {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 0;
    }
</style>
