<template>
    <v-app id="register" class="primary">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4 lg4>
                        <v-card class="elevation-1 pa-3">
                            <v-card-text>
                                <div class="layout column align-center">
                                    <img src="/static/m.png" :alt="appNameDisplay" width="120" height="120">
                                    <h1 class="flex my-4 primary--text">Nowe hasło</h1>
                                </div>
                                <v-form>
                                    <v-text-field ref="password" v-validate="'required|min:8'"
                                                  :error-messages="errors.collect('password')"
                                                  data-vv-name="password"
                                                  autocomplete="off" append-icon="lock" name="password" label="Hasło"
                                                  placeholder="Hasło" id="password" type="password"
                                                  v-model="credentials.password"></v-text-field>
                                    <v-text-field v-validate="'required|confirmed:password'"
                                                  :error-messages="errors.collect('passwordConfirm')"
                                                  data-vv-name="passwordConfirm"
                                                  append-icon="lock" name="passwordConfirm" label="Powtórz hasło"
                                                  placeholder="Powtórz hasło" id="passwordConfirm" type="password"
                                                  v-model="credentials.passwordConfirm"></v-text-field>

                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn block color="primary" @click="reset" :loading="loading">
                                    Ustaw hasło
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import Vue from 'vue'
    import VeeValidate from 'vee-validate';
    import pl from 'vee-validate/dist/locale/pl';

    Vue.use(VeeValidate);
    export default {
        $_veeValidate: {
            validator: 'new'
        },
        data: () => ({
            appNameDisplay: process.env.VUE_APP_NAME_DISPLAY,
            credentials: {
                password: '',
                passwordConfirm: ''
            },
            dictionary: {
                pl: {
                    attributes: {
                        password: 'hasło',
                        passwordConfirm: 'powtórz hasło'
                    }
                }
            }
        }),
        mounted() {
            this.$validator.localize('pl', pl);
            this.$validator.localize(this.dictionary);
        },
        computed: {
            loading: function () {
                return this.$store.getters.authStatus === 'loading'
            },
        },
        methods: {
            reset() {
                this.$validator.validateAll().then(isValid => {
                    if (isValid) {
                        const code = this.$route.query.code;
                        let password = this.credentials.password;
                        let passwordConfirmation = this.credentials.passwordConfirm;
                        this.$store.dispatch('reset', {code, password, passwordConfirmation});
                    }
                });

            }
        },
    };
</script>
<style scoped lang="css">
    #register {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 0;
    }
</style>
