.app--page-header
  padding-top: 14px !important

.container
  padding: 11px 24px 24px 24px;

.page-wrapper .v-toolbar--card
  background-color: #e1e2e2 !important;

.page-wrapper .v-card__text
  line-height: 23px;
  h5
    margin-bottom: 8px;
  p
    margin-bottom: 20px;
  p:last-child
    margin-bottom: 0;

.page-wrapper .v-card__text code
  box-shadow: none;
  font-weight: initial;
  font-size: 14px;
  display: inline;
  padding: 1px 0;

.page-wrapper .v-card__text pre.block
  padding: 8px 15px;
  margin: 0 0 20px;
  &:last-child
    margin: 0;
  code:before
    display:none;
  code:after
    display:none;
  &::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
    background-color: #F5F5F5;
  &::-webkit-scrollbar
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
  &::-webkit-scrollbar-thumb
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.15);
    background-color: #e2e2e2;

.v-toolbar--card
  h4
    font-size: 18px;
  h5
    font-size: 15px;

.app--toolbar .v-toolbar__content
  padding: 0 24px 0 14px

#appDrawer .v-list--dense
  &>div:last-child
    margin-bottom:20px;
  .v-list__tile
    font-size:14px;
    font-weight: 300;
  .v-list__tile--link
    padding: 0 19px;
    &:hover
      color:#424242;
      background-color: #fdfdfd !important;
      .v-icon
        color:#424242;
    .v-icon
      font-size:20px;
  .v-subheader
    font-weight: normal;
  .v-list__tile__action
    min-width: 45px;

  .v-list__group__header
    .v-list__tile
      padding: 0 8px;
    &:hover
      color:#424242;
      .v-icon
        color:#424242;
    .v-icon
      vertical-align: initial;
    .v-list__group__header__append-icon
      padding: 0 18px 0 16px;

  .v-list__group--active
    //transition: all  300ms;
    //margin-top: 11px;
    //margin-bottom: 7px;
    //padding: 9px 0 0 0;
    //.v-list__group__items
     // padding: 0 0 9px 0;
    &:before
      display:none;
    &:after
      display:none;
  //.v-divider
   // margin-top: 12px;
   // margin-bottom: 2px;

#appDrawer .v-list--dense.theme--dark
  .v-list__group--active
    background-color: #525252;
  .v-list__tile--active
    -webkit-filter: contrast(200%) brightness(105%);
    filter: contrast(200%) brightness(105%);
    &:hover
      -webkit-filter: contrast(100%) brightness(100%);
      filter: contrast(100%) brightness(100%);
    .v-list__tile__title
      font-weight: normal;
.font-decoration
  text-decoration: underline;
  text-decoration-color: #777;
