<template>
    <v-app id="login" class="primary">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4 lg4>
                        <v-card class="elevation-1 pa-3">
                            <v-card-text>
                                <div class="layout column align-center">
                                    <img src="/static/m.png" :alt="appNameDisplay" width="120" height="120">
                                    <h1 class="flex my-4 primary--text">Logowanie</h1>
                                </div>
                                <v-form>
                                    <v-text-field v-validate="'required'"
                                                  :error-messages="errors.collect('identifier')"
                                                  data-vv-name="identifier"
                                                  append-icon="person" name="identifier" label="Użytkownik"
                                                  placeholder="Użytkownik" type="text" autofocus
                                                  v-model="credentials.identifier"></v-text-field>
                                    <v-text-field v-validate="'required'"
                                                  :error-messages="errors.collect('password')"
                                                  data-vv-name="password"
                                                  append-icon="lock" name="password" label="Hasło" placeholder="Hasło"
                                                  id="password" type="password"
                                                  v-model="credentials.password"></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <!--<v-btn icon>-->
                                <!--<v-icon color="blue">fa fa-facebook-square fa-lg</v-icon>-->
                                <!--</v-btn>-->
                                <!--<v-btn icon>-->
                                <!--<v-icon color="red">fa fa-google fa-lg</v-icon>-->
                                <!--</v-btn>-->
                                <!--<v-btn icon>-->
                                <!--<v-icon color="light-blue">fa fa-twitter fa-lg</v-icon>-->
                                <!--</v-btn>-->
                                <v-spacer></v-spacer>
                                <v-btn block color="primary" @click="login" :loading="loading">Logowanie</v-btn>
                            </v-card-actions>
                            <v-card-text>
                                <div><a @click="registerPage">Nie mam konta, chcę się zarejestrować.</a></div>
                                <div><a @click="accountForgottenPage">Nie pamiętam hasła, chcę przywrócić.</a></div>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import Vue from 'vue'
    import VeeValidate from 'vee-validate';
    import pl from 'vee-validate/dist/locale/pl';

    Vue.use(VeeValidate);
    export default {
        $_veeValidate: {
            validator: 'new'
        },
        data: () => ({
            appNameDisplay: process.env.VUE_APP_NAME_DISPLAY,
            credentials: {
                identifier: '',
                password: ''
            },
            dictionary: {
                pl: {
                    attributes: {
                        identifier: 'identyfikator',
                        password: 'hasło',
                    }
                }
            }
        }),
        mounted() {
            this.$validator.localize('pl', pl);
            this.$validator.localize(this.dictionary);
        },
        computed: {
            loading: function () {
                return this.$store.getters.authStatus === 'loading'
            },
        },
        methods: {
            login() {
                this.$validator.validateAll().then(isValid => {
                    if (isValid) {
                        let identifier = this.credentials.identifier;
                        let password = this.credentials.password;
                        this.$store.dispatch('login', {identifier, password});
                    }
                });
            },
            registerPage(){
                this.$router.push('/register');
            },
            accountForgottenPage(){
                this.$router.push('/account/forgotten');
            },
        },
    };
</script>
<style scoped lang="css">
    #login {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 0;
    }
</style>
