<template >
  <v-toolbar
    color="primary"
    fixed
    app
    dark
    >
    <v-toolbar-title class="ml-0">
      <v-toolbar-side-icon @click.stop="handleDrawerToggle"></v-toolbar-side-icon>
    </v-toolbar-title>
      <!--<v-text-field-->
        <!--flat-->
        <!--solo-inverted-->
        <!--prepend-icon="search"-->
        <!--label="Search"-->
        <!--class="hidden-sm-and-down"-->
        <!--&gt;-->
      <!--</v-text-field>-->
      <v-spacer></v-spacer>
      <!--<v-btn href="mailto:wangqiangshen@gmail.com">-->
        <!--Hire Me-->
      <!--</v-btn>      -->
      <!--<v-btn icon href="https://github.com/tookit/vue-material-admin">-->
        <!--<v-icon>fa fa-github</v-icon>-->
      <!--</v-btn>-->
      <v-btn icon @click="handleFullScreen()">
        <v-icon>fullscreen</v-icon>
      </v-btn>
      <v-menu :dark="isDark" offset-y origin="center center" class="elelvation-1" :nudge-bottom="14" transition="scale-transition">
        <v-btn icon flat slot="activator">
        <v-badge color="red" overlap>
          <!--<span slot="badge">3</span>-->
          <v-icon medium>notifications</v-icon>
        </v-badge>
        </v-btn>
        <notification-list></notification-list>
      </v-menu>

      <v-menu :dark="isDark" offset-y origin="center center" :nudge-bottom="10" transition="scale-transition">

        <v-btn class="ml-0" flat slot="activator">
          <div class="text-none mr-4">
            {{username}}
          </div>
          <v-avatar size="30px">

            <v-gravatar :email="email || ''" />
          </v-avatar>
        </v-btn>
        <v-list class="pa-0">
          <v-list-tile v-for="(item,index) in items" @click="item.click" ripple="ripple" :disabled="item.disabled" :target="item.target" rel="noopener" :key="index">
            <v-list-tile-action v-if="item.icon">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
  </v-toolbar>
</template>
<script>
import NotificationList from '@/components/widgets/list/NotificationList';
import Util from '@/util';
import Vue from 'vue';
import Gravatar from 'vue-gravatar';

Vue.component('v-gravatar', Gravatar);

export default {
  name: 'app-toolbar',
  components: {
    NotificationList
  },
  data: () => ({
    items: [
      // {
      //   icon: 'account_circle',
      //   href: '#',
      //   title: 'Profile',
      //   click: (e) => {
      //     console.log(e);
      //   }
      // },
      // {
      //   icon: 'settings',
      //   href: '#',
      //   title: 'Settings',
      //   click: (e) => {
      //     console.log(e);
      //   }
      // },
      {
        icon: 'fullscreen_exit',
        title: 'Wyloguj',
        click: (e) => {
          Vue.prototype.store.dispatch('logout');
        }
      }
    ],
  }),
  computed: {
    toolbarColor () {
      return this.$vuetify.options.extra.mainNav;
    },
    isDark: function () {
      return this.$store.getters.isDark;
    },
    username: function () {
      return this.$store.getters.user.username || '';
    },
    email: function () {
      return this.$store.getters.user.email || '';
    },
  },
  methods: {
    handleDrawerToggle () {
      window.getApp.$emit('APP_DRAWER_TOGGLED');
    },
    handleFullScreen () {
      Util.toggleFullScreen();
    },
  }
};
</script>
