<template>
    <div id="pageHelp">
        <v-container grid-list-xl fluid>
            <v-layout row wrap>
                <v-flex lg12 sm12 xs12>
                    <v-widget title="Opis sekcji" content-bg="white">
                        <div slot="widget-content">
                            <p>Proces uruchamiania aplikacji na zewnętrznym serwerze.
                            </p>
                        </div>
                    </v-widget>
                </v-flex>
                <v-flex lg12 sm12 xs12>
                    <v-widget title="Wdrażanie w Ubuntu 16.04" content-bg="white">
                        <div slot="widget-content">
                            <p>Proces wdrażania systemu backend w czystej instalacji Ubuntu 16.04 znajduje się
                                pod adresem <code>https://blog.strapi.io/how-to-deploy-a-strapi-application</code>.
                            </p>
                        </div>
                    </v-widget>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VuePrism from 'vue-prism'

    Vue.use(VuePrism);

    import 'prismjs/themes/prism.css'
    import VWidget from '@/components/VWidget';

    export default {
        components: {
            VWidget
        }
    };
</script>
