<template>
    <div id="pageHelp">
        <v-container grid-list-xl fluid>
            <v-layout row wrap>
                <v-flex lg12 sm12 xs12>
                    <v-widget title="Produkcyjna wersja" content-bg="white">
                        <div slot="widget-content">
                            <h5 class="font-decoration">Konfiguracja adresu serwera API</h5>
                            <p>Lokalna konfiguracja adresu jest w pliku <code>.env</code>.
                                Konfiguracja trybu produkcji jest w pliku <code>.env.production</code>.</p>
                            <h5 class="font-decoration">Ustawienia strony statycznej</h5>
                            <p>Strona statyczna znajduje się w lokalizacji <code>public/index.html</code>.
                                Domyślny tytuł, który jest zamieniany przez <code>vue</code>, ustawiony jest na słowo <code>Panel</code>.
                                Znacznik meta <code>description</code> na domyślną wartość <code>Panel</code>.</p>
                        </div>
                    </v-widget>
                </v-flex>

            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VuePrism from 'vue-prism'

    Vue.use(VuePrism);

    import 'prismjs/themes/prism.css'
    import VWidget from '@/components/VWidget';

    export default {
        components: {
            VWidget
        },
        computed: {
            isLoggedIn: function () {
                return this.$store.getters.isLoggedIn
            }
        },
        methods: {
            logout: function () {
                this.$store.dispatch('LOGOUT')
                    .then(() => {
                        this.$router.push('/login')
                    })
            }
        }
    };
</script>
