<template>
    <div id="pageHelp">
        <v-container grid-list-xl fluid>
            <v-layout row wrap>
                <v-flex lg12 sm12 xs12>
                    <v-widget title="Instalacja Strapi" content-bg="white">
                        <div slot="widget-content">
                            <h5 class="font-decoration">Instalacja Strapi</h5>
                            <p>Instalujemy najnowszą wersję Strapi globalnym instalatorem <code>strapi new server</code>.
                            </p>
                        </div>
                    </v-widget>
                </v-flex>
                <v-flex lg12 sm12 xs12>
                    <v-widget title="Tworzenie nowego panelu" content-bg="white">
                        <!--<v-btn icon slot="widget-header-action">-->
                        <!--<v-icon class="text&#45;&#45;secondary">refresh</v-icon>-->
                        <!--</v-btn>-->
                        <div slot="widget-content">
                            <h5 class="font-decoration">Komunikaty błędów od Strapi</h5>
                            <p>Ten panel łączony jest z użyciem CMS headless Strapi.
                                Logowanie i rejestracja użytkowników w przypadku błędów, domyślnie
                                zwraca błędy od Strapi w języku angielskim. Spolszczenie informacji o błędach
                                dla zapytań JSON, polega na ręcznej podmianie wiadomości w pliku Strapi
                                <code>plugins/users-permissions/controllers/Auth.js</code> oraz pliku <code>plugins/users-permissions/controllers/User.js</code>.
                                Kody odpowiedzialne za wyświetlenie treści komunikatu znajdują się w metodach
                                <code>ctx.badRequest</code>.</p>
                            <h5 class="font-decoration">Błąd rejestrowania dwóch użytkowników o identycznej nazwie</h5>
                            <p>W wersji Strapi <code>3.0.0-alpha.23.1</code> dopuszczalne jest utworzenie
                                kilku nazw użytkowników dla jednego adresu e-mail. Jest to błąd ujawniający się w
                                przypadku
                                pracy z bazą danych MySQL lub MariaDB. Problem polega na braku utworzenia indeksu <code>unique</code>
                                dla kolumny <code>username</code>
                                w tabeli <code>users-permissions_user</code>. W bieżącej wersji Strapi, rozwiązanie to
                                ręczne ustawienie indeksu <code>unique</code> dla kolumny <code>username</code>.</p>
                            <h5 class="font-decoration">Wiadomość o istniejącej nazwie użytkownika</h5>
                            <p>Rejestrując nowego użytkownika o istniejącej nazwie, Strapi podaje mało zrozumiały błąd
                                dla użytkownika. Poprawienie informacji o błędzie
                                polega na podmianie kodu w metodzie <code>register</code> w pliku <code>plugins/users-permissions/controllers/Auth.js</code>.
                                Za wyświetlanie poprawnej informacji o błędzie odpowiada ostatnia linijka w rzucanym
                                wyjątku w bloku <code>try</code>.
                            </p>
                            <pre class="language-js block">
<code>// stary kod
ctx.badRequest(null, ctx.request.admin ? [{ messages: [{ id: adminError }] }] : err.message);

// nowy kod
ctx.badRequest(null, ctx.request.admin ? [{ messages: [{ id: adminError }] }] : _.includes(err.message, 'username') ? 'Użytkownik jest już zajęty.': err.message);</code>
</pre>
                        </div>
                    </v-widget>
                </v-flex>
                <v-flex lg12 sm12 xs12>
                    <v-widget title="Wiadomości e-mail" content-bg="white">
                        <div slot="widget-content">
                            <h5 class="font-decoration">Konfiguracja SMTP wysyłania wiadomości e-mail</h5>
                            <p>Do wysyłania wiadomości e-mail instalujemy dodatek w Strapi <code>strapi-email-nodemailer</code>.
                            W ścieżce <code>plugins/email/configurations/development</code> ustalamy dostawcę <code>nodemailer</code>.
                            Uzupełniamy formularz. Dla dostawcy poczty Google pole <code>host</code>, ustawić na
                            <code>smtp.gmail.com</code>. Port SMTP dla Google to <code>465</code>. Ustawienia podajemy dla trybu <code>development</code>
                             oraz <code>production</code>.</p>
                            <p>W ścieżce <code>plugins/users-permissions/advanced</code>, włączamy opcję <code>Zezwól na potwierdzenie adresu email</code>.
                            W ścieżce <code>plugins/users-permissions/email-templates</code> są szablony wiadomości e-mail. Uzupełniamy formularze zgodnie z konfiguracją SMTP
                                oraz zmieniamy treści z języka angielskiego na język polski.</p>
                            <p>W ścieżce <code>plugins/users-permissions/roles</code> dla roli <code>Public</code>,
                            ustawiamy uprawnienia <code>send</code> w kategorii <code>Email</code>. W kategorii <code>USERS-PERMISSIONS/Auth</code> włączamy uprawnienia <code>emailconfirmation</code>.</p>
                            <h5 class="font-decoration">Błąd wysyłania wiadomości potwierdzającej</h5>
                            <p>Podczas rejestracji nowego użytkownika, zwracany jest błąd 400 z kodem wiadomości <code>EENVELOPE</code>.
                            W metodzie <code>register</code> w pliku <code>plugins/users-permissions/controllers/Auth.js</code>
                            w bloku wysyłania wiadomości e-mail własność <code>user.email</code> ma wartość <code>undefined</code>.
                            Zamiana kodu z <code>to: user.email</code> na <code>to: params.email</code> rozwiązało problem.</p>
                            <h5 class="font-decoration">Link potwierdzający adres e-mail</h5>
                            <p>
                            Domyślnie Strapi wysyła wiadomość z linkiem potwierdzającym, który zawiera adres serwera API.
                            Generowanie linka potwierdzającego odbywa się w <code>plugins/users-permissions/controllers/Auth.js</code> w metodzie
                            <code>register</code>.
                            </p>
                            <pre class="language-js block">
<code>// stary kod
URL: (new URL('/auth/email-confirmation', strapi.config.url)).toString(),

// nowy kod
URL: (new URL(params.urlConfirmEmail)).toString(),</code>
</pre>
                            <h5 class="font-decoration">Błąd automatycznego logowania po rejestracji</h5>
                            <p>Błąd w wersji Strapi <code>3.0.0-alpha.24.1</code>.
                            Przy włączonym potwierdzeniu e-mail, po rejestracji następuje
                            automatyczne logowanie do konta. W pliku <code>plugins/users-permissions/controllers/Auth.js</code>
                            w metodzie <code>register</code> zmieniamy kod.</p>
                            <pre class="language-js block">
<code>// stary kod
ctx.send({
    jwt,
    user: _.omit(user.toJSON ? user.toJSON() : user, ['password', 'resetPasswordToken']),
});

// nowy kod
if (settings.email_confirmation) {
    ctx.send({});
} else {
    ctx.send({
        jwt,
        user: _.omit(user.toJSON ? user.toJSON() : user, ['password', 'resetPasswordToken']),
    });
}</code>
</pre>
                            <h5 class="font-decoration">Kolejkowanie</h5>
                            <p>
                                Strapi wysyła e-maile synchronicznie, lub asynchronicznie z użyciem kolejkowania.
                                Opcja włączania kolejkowania znajduje się w ustawianiach wtyczki <code>Kolejki zadań</code>.
                            </p>
                            <p>
                                W pliku <code>plugins/users-permissions/controllers/Auth.js</code> w metodzie <code>forgotPassword</code>
                                zamieniamy kod.
                            </p>
                            <pre class="language-js block">
<code>// stary kod
await strapi.plugins['email'].services.email.send({
    to: user.email,
    from: (settings.from.email || settings.from.name) ? `"${settings.from.name}" <${settings.from.email}>` : undefined,
    replyTo: settings.response_email,
    subject: settings.object,
    text: settings.message,
    html: settings.message
});

// nowy kod
const enabledEmail = _.get(strapi.plugins.queue.config.environments[strapi.config.environment].instance, ['enabledEmail']);
if (enabledEmail){
    strapi.plugins.queue.service['database'].add({
        priority: 7,
        task: {
            to: user.email,
            from: (settings.from.email || settings.from.name) ? `"${settings.from.name}" <${settings.from.email}>` : undefined,
            replyTo: settings.response_email,
            subject: settings.object,
            text: settings.message,
            html: settings.message,
        },
        category: 'email'
    });
} else {
    await strapi.plugins['email'].services.email.send({
        to: user.email,
        from: (settings.from.email || settings.from.name) ? `"${settings.from.name}" <${settings.from.email}>` : undefined,
        replyTo: settings.response_email,
        subject: settings.object,
        text: settings.message,
        html: settings.message,
    });
}</code>
</pre>
                            <p>
                                W pliku <code>plugins/users-permissions/controllers/Auth.js</code> w metodzie <code>register</code>
                                zamieniamy kod.
                            </p>
                            <pre class="language-js block">
<code>// stary kod
await strapi.plugins['email'].services.email.send({
            to: (user.toJSON ? user.toJSON() : user).email,
            from: (settings.from.email && settings.from.name) ? `"${settings.from.name}" <${settings.from.email}>` : undefined,
            replyTo: settings.response_email,
            subject: settings.object,
            text: settings.message,
            html: settings.message
          });

// nowy kod
const email = params.email;
const enabledEmail = _.get(strapi.plugins.queue.config.environments[strapi.config.environment].instance, ['enabledEmail']);
if (enabledEmail){
    strapi.plugins.queue.service['database'].add({
        priority: 7,
        task: {
            to: email,
            from: (settings.from.email && settings.from.name) ? `"${settings.from.name}" <${settings.from.email}>` : undefined,
            replyTo: settings.response_email,
            subject: settings.object,
            text: settings.message + email,
            html: settings.message,
        },
        category: 'email'
    });
} else {
    await strapi.plugins['email'].services.email.send({
        to: email,
        from: (settings.from.email && settings.from.name) ? `"${settings.from.name}" <${settings.from.email}>` : undefined,
        replyTo: settings.response_email,
        subject: settings.object,
        text: settings.message + email,
        html: settings.message,
    });
}</code>
</pre>
                        </div>
                    </v-widget>
                </v-flex>
                <v-flex lg12 sm12 xs12>
                    <v-widget title="Przywracanie hasła" content-bg="white">
                        <div slot="widget-content">
                            <h5 class="font-decoration">Ustawienia uprawnień</h5>
                            <p>W panelu Strapi edytujemy uprawnienia dla roli <code>Public</code>.
                                W kategorii <code>USERS-PERMISSIONS/Auth</code> dodajemy uprawnienia <code>forgotpassword</code>
                                oraz <code>changepassword</code>.</p>
                            <h5 class="font-decoration">Błąd automatycznego logowania po odzyskaniu hasła</h5>
                            <p>Błąd w wersji Strapi <code>3.0.0-alpha.24.1</code>.
                                Błąd to uzyskanie autoryzacji dla niezweryfikowanego adresu e-mail.
                                Użytkownik otrzymuje autoryzację po odzyskaniu hasła.
                                W pliku <code>plugins/users-permissions/controllers/Auth.js</code>
                                w metodzie <code>changePassword</code> zmieniamy kod.</p>
                            <pre class="language-js block">
<code>// po kodzie
if (!user) {
    return ctx.badRequest(null, ctx.request.admin ? [{ messages: [{ id: 'Auth.form.error.code.provide' }] }] : 'Dostarczono niepoprawny kod.');
}

// dodajemy nowy kod
if (user.confirmed !== true) {
    return ctx.badRequest(null, ctx.request.admin ? [{ messages: [{ id: 'Auth.form.error.confirmed' }] }] : 'Twój adres email nie został jeszcze zweryfikowany.');
}</code>
</pre>

                        </div>
                    </v-widget>
                </v-flex>
                <v-flex lg12 sm12 xs12>
                    <v-widget title="Tworzenie wtyczki Strapi" content-bg="white">
                        <div slot="widget-content">
                            <h5 class="font-decoration">Generowanie nowej styczki</h5>
                            <p>Tworzenie nowej wtyczki odbywa się przez komendę<code>strapi generate:plugin custom</code>.
                            <h5 class="font-decoration">Budowanie wtyczki w Windows 10</h5>
                            <p>Instalujemy zależności w folderze <code>admin</code> oraz folderze <code>admin/node_modules/strapi-helper-plugin</code>
                                ,które są zlokalizowane w głównym folderze projektu.
                            Instalujemy zależności w lokalizacji .</p>
                            <p>Instalujemy globalnie zależności NodeJS <code>rimraf</code>,
                                <code>cross-env</code>, <code>webpack@3.12.0</code> i
                                <code>webpack-cli@3.2.3</code>.
                            <p>W pliku <code>plugins/custom/package.json</code>, we własności <code>scripts</code> zmieniamy
                                na używanie narzędzi globalnie <code>rimraf</code>, <code>cross-env</code> i <code>webpack</code>.</p>
                            <p>Instalujemy zależności komendą <code>npm install</code> w lokalizacji <code>plugins/custom</code> oraz
                                w lokalizacji <code>plugins/custom/node_modules/strapi-helper-plugin</code>.</p>
                            <p>Budowanie wtyczki uruchamiamy komendą <code>npm run build</code>
                                z folderu <code>plugins/custom</code>.</p>
                        </div>
                    </v-widget>
                </v-flex>
                <v-flex lg12 sm12 xs12>
                    <v-widget title="Kolejkowanie" content-bg="white">
                        <div slot="widget-content">
                            <h5 class="font-decoration">Wdrożenie</h5>
                            <p>Wymagane jest API o nazwie <code>queue</code>, oraz nazwie modelu <code>queue</code>.
                                Struktura modelu dostępna jest w projekcie <code>Hiert</code>.
                            </p>
                            <h5 class="font-decoration">Brak indeksu w modelu</h5>
                            <p>
                                Dotyczy projektu działającego w systemie Windows. Po utworzeniu bazy danych dla modelu
                                <code>queue</code>,
                                ręcznie dodajemy indeks <code>unique</code> do kolumny <code>taskId</code>.
                            </p>
                            <h5 class="font-decoration">Domyślna wartość w modelu</h5>
                            <p>
                                Dotyczy projektu działającego w systemie Windows. Po utworzeniu bazy danych dla modelu
                                <code>queue</code>,
                                ręcznie dodajemy domyślną wartość <code>5</code> dla kolumny <code>priority</code>.
                            </p>
                        </div>
                    </v-widget>
                </v-flex>
                <v-flex lg12 sm12 xs12>
                    <v-widget title="Frontend" content-bg="white">
                        <div slot="widget-content">
                            <h5 class="font-decoration">Wyświetlanie notyfikacji</h5>
                            <p>Domyślnie notyfikacja wyświetlana jest na samej górze ekranu. Aby notyfikacja była zawsze wyświetlana
                                we frontendzie, niezależnie od pozycji scroll'a dokonujemy zmiany kodu w pliku
                                <code>admin/admin/build/main.js</code>.
                            </p>
                            <pre class="language-css block">
<code>// poprzedni kod
{position:absolute;top:72px;left:240px;right:0;z-index:1000;list-style:none;width:300px;margin:0 auto;overflow-y:hidden}

// nowy kod
{position:fixed;top:72px;left:240px;right:0;z-index:1000;list-style:none;width:300px;margin:0 auto;overflow-y:hidden}</code>
</pre>
                        </div>
                    </v-widget>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VuePrism from 'vue-prism'

    Vue.use(VuePrism);

    import 'prismjs/themes/prism.css'
    import VWidget from '@/components/VWidget';

    export default {
        components: {
            VWidget
        },
        computed: {
            isLoggedIn: function () {
                return this.$store.getters.isLoggedIn
            }
        },
        methods: {
            logout: function () {
                this.$store.dispatch('LOGOUT')
                    .then(() => {
                        this.$router.push('/login')
                    })
            }
        }
    };
</script>
